<div class="poster">
  <div class="heading">
    <h2>{{movieTitle}}</h2>
    <h3>{{director}}</h3>
    <h3>{{year}}</h3>
    <img src="{{posterURL}}">
    <p>Rating: {{rating}}</p>
  </div>
  <div class="body">
    <p>Genres: {{genres}}</p>
    <p>Plot: {{plot}}</p>
  </div>
  <div class="tags">
    <p>{{tags}}</p>
    <button type="button" name="button">Add Tag</button>

  </div>

</div>
